* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}
body {
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    float: none !important;
    background-color: #f1f1f1;
}

h1, h2, h3 {
    line-height: 1.2;
    color: navy;
}

table {
    margin: 1em auto;
    max-width:40em;
    padding:0 .62em;
    min-width: 100%;
}

form header {
    margin: 0 0 20px 0;
}
form header div {
    font-size: 90%;
    color: #999;
}
form header h2 {
    margin: 0 0 5px 0;
}
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label,
legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
    font-size: 90%;
}
fieldset {
    border: 1px;
    padding: 0;
    outline: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
    width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}

@media (max-width: 40em) {
    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
        width: 100%;
    }
}
@media (min-width: 80px) {
    form > div > label,
    legend {
        text-align: left;
    }
}


.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-link, .button-link-center {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 5px 10px;
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(0deg,rgba(40,121,216,1.00) 0%,rgba(25,77,138,1.00) 99.48%);
    background-image: -moz-linear-gradient(0deg,rgba(40,121,216,1.00) 0%,rgba(25,77,138,1.00) 99.48%);
    background-image: -o-linear-gradient(0deg,rgba(40,121,216,1.00) 0%,rgba(25,77,138,1.00) 99.48%);
    background-image: linear-gradient(90deg,rgba(40,121,216,1.00) 0%,rgba(25,77,138,1.00) 99.48%);
}

.button-link-center {
    clear: both;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-link:hover, .button-link-center:hover {
    background: #3374C2;
}

.login-warning {
    color: #ff5546;
    font-size: smaller;
}

.box {
    position: relative;
}

.logout {
    text-align: right;
    right:0;
}
